
<form [formGroup]="validateForm" (ngSubmit)="onCreate()" style="margin-left: 15%;">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label class="control-label">Nom: </label>
          <input class="form-control" type="text" formControlName="nom"/>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label class="control-label">Prénoms: </label>
          <input class="form-control" type="text" formControlName="prenom"  />
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label class="control-label">Sexe: </label>
          <select class="form-control" id="sexe" formControlName="sexe">
            <option value="man">Homme</option>
            <option value="woman">Femme</option>
          </select>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label class="control-label">E-mail: </label>
          <input class="form-control" type="email" formControlName="email"  />
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label class="control-label">Type d'utiisateur: </label>
          <select class="form-control" id="typePersonne" formControlName="typePersonne" [(ngModel)]="typePersonne">
            <option value="etudiant">Etudiant</option>
            <option value="parent">Parent</option>
            <option value="autorite">Autorité</option>
            <option value="admin">Admin</option>
          </select>
        </div>
      </div>
      <div class="col-md-5" *ngIf="typePersonne == 'etudiant'">
        <div class="form-group">
          <label class="control-label">Matricule: </label>
          <input class="form-control" type="text" formControlName="matricule"  />
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label class="control-label">Username: </label>
          <input class="form-control" type="text" formControlName="username" readonly="readonly"/>
        </div>
      </div>
      <div class="col-md-5">
        <label class="control-label">Téléphone</label>
        <input class="form-control" type="text" formControlName="telephone"  />
      </div>

    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <!--
      <div class="col-md-5">
        <div class="form-group">
          <label class="control-label">Password: </label>
          <input class="form-control" type="password" formControlName="password"  />
        </div>
      </div>


      <div class="col-md-5">
        <div class="form-group">
          <label class="control-label">Confirm Password: </label>
          <input class="form-control" type="password" formControlName="repassword"  />
        </div>
      </div>
    -->
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">

        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label class="control-label">Ajouter un role: </label>
          <select class="form-control" id="role" formControlName="role" >
            <option value="user">Utilisateur</option>
            <option value="autorite">Autorité</option>
            <option value="admin">Admin</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-toolbar" style="padding-left: 26%;">
    <!-- <button routerLink="/register" type="submit" class="btn btn-success" [disabled]="!f.valid">Register</button>-->
    <button type="submit"  class="btn btn-success" >Register</button>
    <button type="button" class="btn btn-default" (click)="onResetForm()">Reset</button>
  </div>
</form>
