<nz-table #basicTable
[nzData]="specialiteList"
[nzPageSize]=5>
<thead>
<tr>
  <th>ID grade</th>
  <th>ID semestre</th>
  <th>Spécialité</th>
  <th>Action</th>

</tr>
</thead>
<tbody>
<tr *ngFor="let data of basicTable.data">
  
  <td>{{data.grade.gradeId}}</td>
  <td>{{data.semestre.semId}}</td>
  <td>{{data.specialite}}</td>
  <td>
      <nz-popconfirm [nzTitle]="'Sûr de modifier?'" (nzOnConfirm)="ouvrirModifier(data.id)">
        <button nz-popconfirm title="Modifier" nz-button nzType="green" [nzSize]="size" nzShape="circle">
          <i nz-icon type="edit"></i>
        </button>
      </nz-popconfirm>
      <nz-popconfirm [nzTitle]="'Sûr de supprimer ?'" (nzOnConfirm)="semGradeDelete(data.id)">
          <button nz-popconfirm title="Supprimer" nz-button nzType="danger" [nzSize]="size" nzShape="circle">
            <i nz-icon type="delete"></i>
          </button>
      </nz-popconfirm>
     
  </td>
</tr>
</tbody>
</nz-table>
