<form [formGroup]="validateForm" class="forme" (ngSubmit)="onsave()" style="margin-left: 15%;">

    <div class="col-md-12">
        <div class="row">

            <div class="col-md-2">
                <div class="form-group">

                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label">Année encours : </label>
                    <input class="form-control" type="number" name="anneeEncours" formControlName="anneeEncours">
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">

                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label">Année scolaire : </label>
                    <input class="form-control" type="text" formControlName="anneeScolaire" placeholder="Exemple : 2001-2002"/>
                  </div>

            </div>
        </div>
    </div>
    <div class="btn-toolbar" style="padding-left: 26%;">
        <!-- <button routerLink="/register" type="submit" class="btn btn-success" [disabled]="!f.valid">Register</button>-->
        <button type="submit" class="btn btn-success">Sauvegarder</button>
        <button type="button" class="btn btn-default" (click)="onResetForm()">Reset</button>
    </div>
</form>