<p></p>
<div class="container">
    <div class="btn-toolbar">
        <button class="btn btn-sm btn-primary mr-2" (click)="onSaveGrade()">Grade</button>
        <button class="btn btn-sm btn-primary mr-2" (click)="onSaveAnnee()"> Année Académique</button>
        <button class="btn btn-sm btn-primary mr-2" (click)="onSaveSemestre()">Semestre</button>
        <button class="btn btn-sm btn-primary mr-2" (click)="onSaveSpecialite()">Spécialité</button>
        <button class="btn btn-sm btn-primary mr-2" (click)="onSaveEc()">EC</button>
        <button class="btn btn-sm btn-primary mr-2" (click)="onSaveUe()">UE</button>
        <button class="btn btn-sm btn-primary mr-2" (click)="onSaveNote()">Note</button>
        <button class="btn btn-sm btn-primary mr-2" (click)="onSaveFiliere()">Filière</button>
    </div>
    <div style="background-color: white;">
        <p></p>
    <router-outlet></router-outlet>
    </div>
</div>