<nz-table #basicTable
[nzData]="semestreList"
[nzPageSize]=5>
<thead>
<tr>
  <th>ID</th>
  <th>Semestre</th>
  <th>Action</th>

</tr>
</thead>
<tbody>
<tr *ngFor="let data of basicTable.data">
  <td>{{data.semId}}</td>
  <td>{{data.semLibelle}}</td>
  <td>
      <nz-popconfirm [nzTitle]="'Sûr de modifier?'" (nzOnConfirm)="ouvrirModifier(data.semId)">
        <button nz-popconfirm title="Modifier" nz-button nzType="green" [nzSize]="size" nzShape="circle">
          <i nz-icon type="edit"></i>
        </button>
      </nz-popconfirm>
      <nz-popconfirm [nzTitle]="'Sûr de supprimer ?'" (nzOnConfirm)="semestreDelete(data.semId)">
          <button nz-popconfirm title="Supprimer" nz-button nzType="danger" [nzSize]="size" nzShape="circle">
            <i nz-icon type="delete"></i>
          </button>
      </nz-popconfirm>
     
  </td>
</tr>
</tbody>
</nz-table>
